:root {
	--rojo: #E50914;
	--fondo: #141414;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*Barra Superior*/
header{
    position: fixed;
    background: var(--fondo);            
    padding: 20px;
    width: 100%;
    height: 27px;
    border-color: #fff;
    border-style:ridge;
}

.left_area h3{
    color: #fff;
    margin: 0;    
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: var(--rojo);
}

.logout_btn{
    padding: 5px;
    background: var(--rojo);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
    background: #900C3F;
} 

/*css Menu lateral */
.sidebar{
    background: #141414f1;
    border-color: #fff;
    border-style:ridge;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;    
}

.sidebar h4{
    color: var(--rojo);
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: var(--rojo);
}

.sider i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index:1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #FFC300;
}

/*css Contenido central */
.content{
    margin-left: 250px;    
    background-position: center;
    background: var(--fondo);
    background-size: cover;
    height: 100vh;
    transition: 0.5s;    
}

