<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>Formulario de Registro</title>
	<link rel="icon" href="https://cdn.glitch.com/65c1b8f1-cb52-4f14-9c54-49d1921a65e4%2Ffilm.png?v=1631331965612" type="images/film">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<!--Importacion de la libreria de vue desde la web-->
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
	<header>
		<!--Inicio Menu de Navegacion-->
		<div class="contenedor">
			<h2 class="logotipo">SIRCi</h2>
			<nav>
				<a href="https://sirci.glitch.me/" class="activo"><i class="fas fa-film"></i> Inicio</a>				
				<a href="https://steep-sunset-seaplane.glitch.me"><i class="fas fa-photo-video"></i> Cartelera</a>
			</nav>
		</div>
		<!--Fin Menu de Navegacion-->
	</header>

	<main>
		<div class="contain" id="app">
					  
			  <div class="form">
				<h1>Formulario de Registro</h1>

				<form id="app" @submit="validateForm" action="https://steep-sunset-seaplane.glitch.me/">
				  	<p>					
						<input class="controls" type="text" name="nombres" id="nombre" v-model= "nombre" placeholder="Ingrese Nombre Completo (*)">
				  	</p>

				  	<p>
						<input class="controls" type="text" name="apellido" id="apellido" v-model= "apellido" placeholder="Ingrese Apeliidos (*)" >					
					</p>

					<p>
						<input class="controls" type="email" name="email1" id="email1" v-model= "email1" placeholder="Ingrese Email (*)" >
					</p>
					<p>
						<input class="controls" type="email" name="email2" id="email2" v-model= "email2" @blur="validarEmail2" placeholder="Confirme Email (*)">
					</p>

					<p>
						<input class="controls" type="text" name="telefono" id="telefono" v-model= "telefono" placeholder="Ingrese Telefono (*)" >        
					</p>

					<p>
						<select class="controls" name="select" id="select" v-model= "select">
							<option value="value0">Seleccione Genero</option>
							<option value="value1">Masculino</option>
							<option value="value2">Femenino</option>
						</select>
					</p>

					<p>
						<input class="controls" type="password" name="psw1" id="psw1" v-model= "psw1" placeholder="Ingrese Password (*)">					
					</p>

					<p>
						<input class="controls" type="password" name="psw2" id="psw2" v-model= "psw2" placeholder="Confirme Password (*)" >
					</p>

					<p>
						<input class="controls" type="text" name="ciudad" id="ciudad" v-model= "ciudad" placeholder="Ingrese Ciudad Residencia">        
					</p>

					<p>
						<input class="controls" type="text" name="direccion" id="direccion" v-model= "direccion" placeholder="Ingrese Direccion Residencia">        
					</p>

					<p>
						<input class="controls" type="date" name="fcumple" id="fcumple" v-model= "fcumple">
					</p>

					<p>					
						<input class="chk-box" type="checkbox" id="cboxAdmin" value="administrador">            
						<p1>  Administrador? </p1>
					</p>

					<p2>(*) Campos Obligatorios</p2>

					<p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>        
									
					<p>				
						<input class = "button" type="submit" value="Registrar">
					</p>

					<p>¿Ya tienes una cuenta? <a href="#">Ingresa aqui</a></p>        

				</form>
			  </div>
		</div>		  		
	</main>		

	<!--Inicio Pie de Sitio-->
	<footer class="footer-section">
        
    </footer>
	<!--Fin Pie de Sitio-->
	    
    <script src="js/app.js"></script>
</body>
</html>

